<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

</head>

<body>
    <main>
        <h1 id="top-message">We are at the heart of appropriate care</h1>

        <div id="coach-login-signup" class="login-signup">

            <img src="assets/Images/coachLogin.jpg" width="100" height="100" id="coachImage"><br>
            <button class="btn btn-primary homebtns" id="coach-login-btn" routerLink="/coachlogin"><a routerLink="/coachlogin" id="coachloginroute">Login as coach</a></button><br>
            <button class="btn btn-primary homebtns" id="coach-join-btn" routerLink="/coachsignup"><a routerLink="/coachsignup" id="coachloginroute">Join as coach</a></button>

        </div>


        <div id="user-login-signup" class="login-signup">
            <img src="assets/Images/User LogIn.jpg" width="100" height="100" id="userImage"><br>
            <button class="btn btn-primary homebtns" id="user-login-btn" routerLink="/userlogin"><a routerLink="/userlogin" id="coachloginroute">Login as user</a></button><br>
            <button class="btn btn-primary homebtns" id="user-join-btn" routerLink="/usersignup"><a routerLink="/usersignup" id="coachloginroute">Join as user</a></button>
        </div>






    </main>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
        crossorigin="anonymous"></script>
</body>

</html>